* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: url("../img/lake.jpg") no-repeat center/cover;
    font-family: 'Lato', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.header {
    padding: 1rem 3rem;
    color: #58585B;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.header::before {
    content: "";
    width: 100%;
    border-bottom: 4px solid #58585B;
    position: absolute;
    bottom: 0;
    -webkit-animation-name: stretch;
            animation-name: stretch;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}

.wrapper {
    width: 70%;
    max-width: 800px;
    color: #58585B;
    line-height: 1.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.info {
    margin-bottom: 2rem;
}

.info span {
    font-weight: bold;
}

.timer {
    color: #FF6814;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.error {
    color: #df3f2a;
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* animations */
@-webkit-keyframes stretch {
    0% {
        width: 30%;
    }
    100% {
        width: 100%;
    }
}
@keyframes stretch {
    0% {
        width: 30%;
    }
    100% {
        width: 100%;
    }
}
